/* contenedor principal del sidebar */
.sidebar {
  width: 270px;
  min-height: 93.1%;
  background-color: #26403D;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  position: sticky;
  top: 0;
}


/* LOGO */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px; /* espacio entre logo y texto */
  padding: 0 20px 24px;
  color: #E9EDEC;
  font-weight: 600;
  font-size: 16px;

  .logo-img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
}


/* USUARIO */
.sidebar-usuario {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  border-top: 1px solid rgba(255,255,255,0.08);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  margin-bottom: 12px;

  .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #203C39;
    border : 2px solid #30CFBF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
  }

  .usuario-info {
    display: flex;
    flex-direction: column;
  }

  .nombre {
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin: 0;
  }

  .correo {
    font-size: 11px;
    color: #888;
    margin: 0;
  }
}


/* MENU */
.sidebar-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.menu-item {

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 10px;
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
  transition: 0.2s;
  margin-bottom: 4px;

  /* HOVER */
  &:hover {
    background: rgba(12, 255, 243, 0.08);
    /* aguamarina suave */
    color: white;
  }

  /* ACTIVO */
  &.activo {
    background: rgba(12, 255, 243, 0.15);
    /* fondo suave */
    color: #ffff;
    font-weight: 500;

    border-left: 4px solid #30CFBF;
    padding-left: 10px;
  }

  .menu-icono {
    font-size: 18px;
    width: 22px;
    text-align: center;
  }

  &.activo .menu-icono {
    color: #ffff;
  }
}

/* FOOTER */ 
.sidebar-footer {
  padding: 16px 20px 0;
  border-top: 2px solid rgba(255,255,255,0.08);

  .btn-cerrar {
    width: 100%;
    background: none;
    border: none;
    color: #aaa;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;

    &:hover {
      color: white;
    }
  }
}

/* ========================= */
/* TABLET */
/* ========================= */

@media screen and (max-width: 1024px) {

  .sidebar {
    width: 220px;
  }

  .sidebar-logo {
    font-size: 14px;
  }

  .menu-item {
    font-size: 12px;
    padding: 10px 12px;
  }

}


/* ========================= */
/* MOVIL */
/* ========================= */

@media screen and (max-width: 768px) {

  .sidebar {
    position: fixed;
    left: -270px;
    top: 0;
    height: 100vh;
    width: 270px;
    z-index: 1000;
    transition: 0.3s ease;
  }

  /* Cuando se abre */
  .sidebar.active {
    left: 0;
  }

}