// colores principales del proyecto
$color-primary:      #29AEA0;
$color-primary-dark: #229990;
$color-dark:         #131C20;
$color-gray:         #67777E;
$color-border:       #DCE5E4;
$color-bg:           #F9FBFB;
$color-white:        #ffffff;
$color-icon-bg:      #E0EBEA;

// tipografía
$font-family: 'Plus Jakarta Sans', sans-serif;

// espaciados
$padding-page:      40px 48px;
$border-radius:     16px;
$border-radius-sm:  10px;