<div class="requirements" [style.margin-top.px]="marginTop">

  <div class="requirement" [class.met]="hasMinLength">
    <span class="req-dot"></span>
    {{ 'PASSWORD_REQUIREMENTS.MIN' | translate }}
  </div>

  <div class="requirement" [class.met]="hasUppercase">
    <span class="req-dot"></span>
    {{ 'PASSWORD_REQUIREMENTS.UPPERCASE' | translate }}
  </div>

  <div class="requirement" [class.met]="hasNumber">
    <span class="req-dot"></span>
    {{ 'PASSWORD_REQUIREMENTS.NUMBER' | translate }}
  </div>

  <div class="requirement" [class.met]="hasSpecialChar">
    <span class="req-dot"></span>
    {{ 'PASSWORD_REQUIREMENTS.SPECIAL' | translate }}
  </div>

</div>
