<div class="forgot-container">

<app-auth-side-panel></app-auth-side-panel>


  <div class="page-background">

  <!-- Tarjeta blanca contenedora -->
  <app-auth-card>

  <app-back-button></app-back-button>

    <!-- Stepper recibe el paso actual -->
    <app-stepper [currentStep]="currentStep"></app-stepper>

    <!-- Paso 1 — Email -->
    <!-- (emailSent) escucha cuando el hijo termina y avisa al padre -->
    @if (currentStep === 1) {
      <app-email-step
        (emailSent)="onEmailSent($event)">
      </app-email-step>
    }

    <!-- Paso 2 — Verificación -->
    <!-- [email] le pasa el email guardado para mostrarlo -->
    @if (currentStep === 2) {
      <app-verification-step
        [email]="userEmail"
        (codeVerified)="onCodeVerified()">
      </app-verification-step>
    }

    <!-- Paso 3 — Nueva contraseña -->
    @if (currentStep === 3) {
      <app-new-password-step
        (passwordUpdated)="onPasswordUpdated()">
      </app-new-password-step>
    }

  </app-auth-card>

  </div>
</div>