body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* CONTENEDOR GENERAL */

.forgot-container {
  min-height: 100vh;

  display: flex;

  background: var(--bg);

  overflow-x: hidden;

  position: relative;
}

/* PANEL IZQUIERDO */

app-auth-side-panel {
  flex: 1.35;
  display: flex;
}

/* ZONA FORMULARIO */

.page-background {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;

  min-width: 0;

  background:
    radial-gradient(
      circle at center,
      rgba(var(--primary-rgb), 0.05),
      transparent 60%
    );
}

/* TARJETA */

app-auth-card {
  display: block;
  width: 100%;
}

/* BOTÓN ATRÁS */
app-back-button {
  display: contents;
}

/* STEPPER */

app-stepper {
  display: block;
  margin-bottom: 25px;
}

/* PASOS */

app-email-step,
app-verification-step,
app-new-password-step {
  display: block;
  width: 100%;
}

/* MONITORES GRANDES */

@media (min-width: 1800px) {

  app-auth-side-panel {
    flex: 1.45;
  }
}

/* LAPTOPS */

@media (max-width: 1400px) {

  app-auth-side-panel {
    flex: 1;
  }
}

/* TABLETS */

@media (max-width: 1100px) {

  app-auth-side-panel {
    display: none;
  }

  .page-background {
    width: 100%;
    padding: 25px;
  }
}

/* CELULARES */

@media (max-width: 600px) {

  .page-background {
    padding: 15px;
  }

  app-stepper {
    margin-bottom: 20px;
  }
}