@use '../../../../../styles/mixins' as *;

.config-layout {
  display: flex;
  min-height: 100vh;
  background: var(--bg);
}

.config-content {
  flex: 1;
  padding: 32px 36px;
  overflow-y: auto;
}

/* tablet */
@include tablet {
  .config-content {
    padding: 24px 20px;
  }
}

/* mobile */
@include mobile {

  .config-layout {
    flex-direction: column;
  }

  .config-content {
    padding: 72px 16px 24px;
  }

}