<div class="config-layout">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>

  <div class="config-content">

    <div class="header">
      <mat-icon>settings</mat-icon>
      <h1>Configuración</h1>
    </div>

    <div class="grid">

      <!-- NOTIFICACIONES -->
      <div class="card">

        <div class="card-header">
          <mat-icon>notifications</mat-icon>
          <h2>Notificaciones</h2>
        </div>

        <div class="item">
          <div>
            <p class="title">Notificaciones Push</p>
            <span class="subtitle">Recibe alertas de reservas y promociones</span>
          </div>
          <mat-slide-toggle [(ngModel)]="settings.push"></mat-slide-toggle>
        </div>

        <div class="divider"></div>

        <div class="item">
          <div>
            <p class="title">Recordatorios por Email</p>
            <span class="subtitle">Un día antes de tu lavado programado</span>
          </div>
          <mat-slide-toggle [(ngModel)]="settings.email"></mat-slide-toggle>
        </div>

        <div class="divider"></div>

        <div class="item">
          <div>
            <p class="title">Promociones y Ofertas</p>
            <span class="subtitle">Recibe descuentos exclusivos</span>
          </div>
          <mat-slide-toggle [(ngModel)]="settings.promo"></mat-slide-toggle>
        </div>

      </div>


      <!-- APARIENCIA -->
      <div class="card">

        <div class="card-header">
          <mat-icon>public</mat-icon>
          <h2>Apariencia</h2>
        </div>

        <!-- TEMAS -->
        <p class="section-title">Elegir tema</p>
        <span class="subtitle">
          Cambiar interfaz (Personaliza los colores de la aplicación)
        </span>

        <div class="themes">

          <!-- VERDE CLARO -->
          <div
            class="theme-card green-light"
            [class.active]="selectedTheme === 'green-light'"
            (click)="changeTheme('green-light')">

            <div class="theme-top">
              <mat-icon *ngIf="selectedTheme === 'green-light'">check_circle</mat-icon>
            </div>

            <div class="theme-body">
              <div class="line small"></div>
              <div class="line big"></div>
            </div>

          </div>

          <!-- VERDE OSCURO -->
          <div
            class="theme-card green-dark"
            [class.active]="selectedTheme === 'green-dark'"
            (click)="changeTheme('green-dark')">

            <div class="theme-top">
              <mat-icon *ngIf="selectedTheme === 'green-dark'">check_circle</mat-icon>
            </div>

            <div class="theme-body">
              <div class="line small"></div>
              <div class="line big"></div>
            </div>

          </div>

          <!-- ROSADO CLARO -->
          <div
            class="theme-card pink"
            [class.active]="selectedTheme === 'pink'"
            (click)="changeTheme('pink')">

            <div class="theme-top">
              <mat-icon *ngIf="selectedTheme === 'pink'">check_circle</mat-icon>
            </div>

            <div class="theme-body">
              <div class="line small"></div>
              <div class="line big"></div>
            </div>

          </div>

          <!-- ROSADO OSCURO -->
          <div
            class="theme-card pink-dark"
            [class.active]="selectedTheme === 'pink-dark'"
            (click)="changeTheme('pink-dark')">

            <div class="theme-top">
              <mat-icon *ngIf="selectedTheme === 'pink-dark'">check_circle</mat-icon>
            </div>

            <div class="theme-body">
              <div class="line small"></div>
              <div class="line big"></div>
            </div>

          </div>

        </div>

        <div class="divider"></div>

        <!-- IDIOMAS -->
        <p class="section-title">Idiomas</p>
        <span class="subtitle">Cambiar idioma</span>

        <div class="languages">

          <!-- ESPAÑOL -->
          <div
            class="lang-card"
            [class.active]="selectedLanguage === 'es'"
            (click)="changeLanguage('es')">

            <div class="lang-top">
              <div class="lang-left">
                <span class="fi fi-es fis"></span>
                <strong>Español</strong>
              </div>
              <mat-icon class="lang-check" [class.selected]="selectedLanguage === 'es'">check_circle_outline</mat-icon>
            </div>
            <span class="lang-sub">Interfaz en español</span>

          </div>

          <!-- ENGLISH -->
          <div
            class="lang-card"
            [class.active]="selectedLanguage === 'en'"
            (click)="changeLanguage('en')">

            <div class="lang-top">
              <div class="lang-left">
                <span class="fi fi-gb fis"></span>
                <strong>English</strong>
              </div>
              <mat-icon class="lang-check" [class.selected]="selectedLanguage === 'en'">check_circle_outline</mat-icon>
            </div>
            <span class="lang-sub">Interface in english</span>

          </div>

          <!-- FRANCES -->
          <div
            class="lang-card"
            [class.active]="selectedLanguage === 'fr'"
            (click)="changeLanguage('fr')">

            <div class="lang-top">
              <div class="lang-left">
                <span class="fi fi-fr fis"></span>
                <strong>Français</strong>
              </div>
              <mat-icon class="lang-check" [class.selected]="selectedLanguage === 'fr'">check_circle_outline</mat-icon>
            </div>
            <span class="lang-sub">Interface en français</span>

          </div>

          <!-- PORTUGUES -->
          <div
            class="lang-card"
            [class.active]="selectedLanguage === 'pt'"
            (click)="changeLanguage('pt')">

            <div class="lang-top">
              <div class="lang-left">
                <span class="fi fi-pt fis"></span>
                <strong>Português</strong>
              </div>
              <mat-icon class="lang-check" [class.selected]="selectedLanguage === 'pt'">check_circle_outline</mat-icon>
            </div>
            <span class="lang-sub">Interface em português</span>

          </div>

        </div>

      </div>


      <!-- UBICACIÓN -->
      <div class="card">

        <div class="card-header">
          <mat-icon>location_on</mat-icon>
          <h2>Ubicación</h2>
        </div>

        <div class="item">
          <div>
            <p class="title">Compartir Ubicación</p>
            <span class="subtitle">
              Permitir que accedan a tu ubicación actual
            </span>
          </div>
          <mat-slide-toggle [(ngModel)]="settings.location"></mat-slide-toggle>
        </div>

      </div>


      <!-- AYUDA -->
      <div class="card">

        <div class="card-header">
          <mat-icon>help_outline</mat-icon>
          <h2>Ayuda</h2>
        </div>

        <div class="help">

          <div class="help-left">
            <mat-icon>help</mat-icon>
            <span>Centro de ayuda</span>
          </div>

          <button class="btn">
            Abrir
            <mat-icon>chevron_right</mat-icon>
          </button>

        </div>

      </div>

    </div>

  </div>

</div>