@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--bg);
  color: var(--text);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;

  /*  TEMA VERDE CLARO (DEFAULT)  */
  --primary: #2ec4b6;
  --primary-rgb: 46, 196, 182;

  --sidebar: #26403D;

  --bg: #f5f6f8;
  --card: #ffffff;

  --text: #1a1a2e;
  --text-secondary: #5f6f75;  
  --text-muted: #9aa5ab;

  --border: #e6eaea;
  --primary-soft: rgba(var(--primary-rgb), 0.15);

  --item-bg: rgba(0, 0, 0, 0.04);
  --item-hover: rgba(0, 0, 0, 0.07);
}

/*  VERDE OSCURO  */
body.green-dark {
  color-scheme: dark;

  --primary: #2ec4b6;
  --primary-rgb: 46, 196, 182;

  --sidebar: #1a2e2b;

  --bg: #1a1a1a;
  --card: #2a2a2a;

  --text: #ffffff;
  --text-secondary: #c2c2c2;
  --text-muted: #8a8a8a;

  --border: #2f2f2f;
  --primary-soft: rgba(var(--primary-rgb), 0.2);

  --item-bg: rgba(255, 255, 255, 0.05);
  --item-hover: rgba(255, 255, 255, 0.08);
}

/*  ROSADO CLARO  */
body.pink {
  color-scheme: light;

  --primary: #ff4fa3;
  --primary-rgb: 255, 79, 163;

  --sidebar: #3d1a2a;

  --bg: #f5f6f8;
  --card: #ffffff;

  --text: #1a1a2e;
  --text-secondary: #5f6f75;
  --text-muted: #9aa5ab;

  --border: #e6eaea;
  --primary-soft: rgba(var(--primary-rgb), 0.15);

  --item-bg: rgba(0, 0, 0, 0.04);
  --item-hover: rgba(0, 0, 0, 0.07);
}

/*  ROSADO OSCURO  */
body.pink-dark {
  color-scheme: dark;

  --primary: #ff4fa3;
  --primary-rgb: 255, 79, 163;

  --sidebar: #2a1020;

  --bg: #1a1a1a;
  --card: #2a2a2a;

  --text: #ffffff;
  --text-secondary: #c2c2c2;
  --text-muted: #8a8a8a;

  --border: #2f2f2f;
  --primary-soft: rgba(var(--primary-rgb), 0.2);

  --item-bg: rgba(255, 255, 255, 0.05);
  --item-hover: rgba(255, 255, 255, 0.08);
}